<div class=" container sym-container-nopadding">

    <div class="panel">
        <div class="panel-body">
            <p><strong>Quantidade Pessoas:</strong> 6</p>
            <p><strong>Quando:</strong> Essa semana</p>
            <p><strong>Onde:</strong> Consolação</p>
        </div>
        <div class="panel-heading">
            <a href="#pesquisa/6/semana/consolacao" class="btn btn-primary">
                Pesquisar salas
            </a>
        </div>
    </div>

</div> <!-- /container -->