<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Bem vindo ao Web API do SYM!</h1>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <ol class="round">
            <li class="one">
                <h5>Inicialização do Entity Framework</h5>
                Para a configuração de uma nova base de dados o link a seguir pode ser acessado.
                <a href="@Url.Content("~/api/initializer")">api\initializer</a>
            </li>
            <li class="two">
                <h5>Acessar servico básico</h5>
                Acesse o serviço de busca de unidades para testar o web api.
                <a href="@Url.Content("~/api/initializer")">api\unidade</a>
            </li>
        </ol>
    </section>
</div>
