body {
}

.sym-glyphicon-remove {
    color: red;
    padding: 10px 5px 10px 5px !important;
    font-size: 20px;
}

.sym-mensagem-sala-ocupada {

    text-align: center;
    color: red;
    font-weight: bold;
}

.sym-glyphicon-ok {
    color: green;
    padding: 10px 5px 10px 5px !important;
    font-size: 20px;
}

.sym-glyphicon-padrao {
    font-size: 26px !important;
    padding: 20px 20px 20px 20px !important;
    color: gray;
}

.sym-modal-header {
    background-color: #337ab7;
    height: 80px;
}

.sym-modal-title {
    color: white;
    padding: 10px 0px 0px 10px;
}

.sym-hora-select {
    width: 80px;
    display: inline-block;
    border: none;
    border-bottom: 2px solid gray;
    padding: 4px 3px 3px 5px;
    margin: 0;
    font: inherit;
    outline: none;
    line-height: 1.2;
}


/*MOBILE SETTINGS*/
@media (max-width: 767px) {

    .sym-glyphicon-padrao {
        font-size: 26px !important;
        padding: 20px 10px 20px 10px !important;
        color: gray;
    }
}
