
.navbar-brand {

    width: 115px;

    background-image: url('../images/logo-small.png');
    background-repeat: no-repeat;
    background-position:right;

    background-size: 70px;
}

.sym-panel-basic {
    background-color: #46b6ac;
    color: #ffffff;
    background-image: url('../images/dog-background.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 200px;
}

    .sym-panel-basic .input-group {
        padding-left: 20px;
        display: inline-block;
        color: #000;
        white-space: nowrap;
    }

    .sym-panel-basic .row {
        margin-bottom: 20px;
    }

.sym-label-for{
    color:#000;
    font-size:14px;
    font-weight:normal;
}

.sym-input-label {
    font-size: 16px;
}

.sym-input-label {
    padding-right: 10px;
}

.sym-glyphicon-button {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

    .sym-glyphicon-button.glyphicon-minus-sign {
        color: #e8e8e8;
    }

    .sym-glyphicon-button.glyphicon-plus-sign {
        color: #ff4081;
    }

.sym-contador-pessoas {
    font-size: 20px;
    color: #000;
}

.sym-glyphicon-button {
    cursor: pointer;
}

.sym-panel-footer {
    border-top: 1px solid #ddd;
}

.sym-botao-pesquisar {
    border: none;
    background-color: transparent;
    color: #293bac;
    font-weight: bold;
    cursor: pointer;
}


.sym-botao-pesquisar:hover {
    color: #192886;
    text-decoration:none;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

.bem-vindo-xs {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 150px;
    width: auto;
}


/* SM - Small
-------------------------------------------------- */
@media (min-width: 768px) {

    .bem-vindo-sm {
        height: 150px;
        width: auto;
    }
}

/* MD - Medium
-------------------------------------------------- */
@media (min-width: 992px) {

    .bem-vindo-md {
        height: 200px;
        width: auto;
    }
}

/* LG - Large 
-------------------------------------------------- */
@media (min-width: 1200px) {
    .bem-vindo-lg {
        height: 200px;
        width: auto;
    }
}
