body {
    padding-top: 70px;
}

.sym-container-nopadding {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-toggle {
    float: left;
    margin-left: 10px;
}

.sym-panel-month {
    box-shadow: none;
}

    .sym-panel-month > .panel-heading {
        background-color: #ddd;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position-y: 45%;
    }

    .sym-panel-month > .panel-body {
        padding-left: 0px;
        padding-right: 0px;
    }

    .sym-panel-month.janeiro > .panel-heading {
        background-image: url('../images/month-background/january-1024x1024.jpg');
    }

    .sym-panel-month.fevereiro > .panel-heading {
        background-image: url('../images/month-background/february-1024x1024.jpg');
    }

    .sym-panel-month.marco > .panel-heading {
        background-image: url('../images/month-background/march-1024x1024.jpg');
    }

    .sym-panel-month.abril > .panel-heading {
        background-image: url('../images/month-background/april-1024x1024.jpg');
    }

    .sym-panel-month.maio > .panel-heading {
        background-image: url('../images/month-background/may-1024x1024.jpg');
    }

    .sym-panel-month.junho > .panel-heading {
        background-image: url('../images/month-background/june-1024x1024.jpg');
    }

    .sym-panel-month.julho > .panel-heading {
        background-image: url('../images/month-background/july-1024x1024.jpg');
    }

    .sym-panel-month.agosto > .panel-heading {
        background-image: url('../images/month-background/august-1024x1024.jpg');
    }

    .sym-panel-month.setembro > .panel-heading {
        background-image: url('../images/month-background/september-1024x1024.jpg');
    }

    .sym-panel-month.outubro > .panel-heading {
        background-image: url('../images/month-background/october-1024x1024.jpg');
    }

    .sym-panel-month.novembro > .panel-heading {
        background-image: url('../images/month-background/november-1024x1024.jpg');
    }

    .sym-panel-month.dezembro > .panel-heading {
        background-image: url('../images/month-background/december-1024x1024.jpg');
    }

    .sym-panel-month > .panel-heading h2 {
        margin-top: 4px;
        margin-bottom: 30px;
        font-size: 24px;
    }


.sym-panel-day .table-responsive {
    border: none;
}

    .sym-panel-day .table-responsive .list-group-item {
        min-width: 420px;
    }

.sym-panel-day {
    box-shadow: none;
    border-radius: 0px;
}

    .sym-panel-day > .panel-heading h3 {
        margin-top: 30px;
        margin-bottom: 0px;
        font-size: 22px;
    }

    .sym-panel-day > .panel-heading hr {
        margin-top: 2px;
        margin-bottom: 0px;
    }

    .sym-panel-day > .panel-heading {
        padding: 5px;
    }

    .sym-panel-day > .panel-body {
        padding: 5px;
    }

.sym-list-group-time {
    width: 40px;
    float: left;
}

    .sym-list-group-time > li {
        border-color: transparent;
    }

.sym-list-group-room {
    margin-left: 40px;
    width: 80%;
    width: calc(100% - 50px);
}

    .sym-list-group-room > li {
        border-top-color: #175992;
        border-right-color: transparent;
        border-bottom-color: #175992;
        border-left-color: transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }

        .sym-list-group-room > li:first-child {
            border-top-color: transparent;
        }


.sym-day-heading {
    padding-bottom: 0px;
}

.sym-day-item {
    padding-top: 0px;
    padding-bottom: 0px;
}

.sym-day-time {
    height: 58px;
    padding-left: 0px;
    padding-right: 0px;
}

    .sym-day-time div {
        font-size: 12px;
        font-weight: bold;
        margin-top: -14px;
    }

.sym-day-room {
    float: left;
    width: 25%;
    padding-left: 2px;
    padding-right: 2px;
}

.sym-btn-room {
    display: block;
    text-align: left;
    height: 65px;
    width: 100%;
    background-color: #1a5486;
    border: none;
    border-top: 6px solid #0a365c;
    border-radius: 0px;
    color: white;
    font-size: 12px;
}

    .sym-btn-room:hover {
        background-color: #1a5486;
        color: white;
    }

.sym-btn-available {
    display: block;
    text-align: left;
    width: 100%;
    background-color: #337ab7;
    border: none;
    border-left: 10px solid #2166a1;
    border-radius: 0px;
    color: white;
    font-size: 11px;
    height: 28px;

}

    .sym-btn-available:hover, .sym-btn-available:active {

        background-color: #2668a1;
        border-left: 10px solid #2668a1;
        color: white;
    }

    .sym-btn-available.sym-lg {
        height: 56px;
    }

.sym-btn-unavailable {
    display: block;
    text-align: left;
    width: 100%;
    background-color: #ddd;
    border: none;
    border-left: 10px solid #c8c6c6;
    border-radius: 0px;
    color: white;
    font-size: 11px;
    height: 28px;
    cursor: default;
}

    .sym-btn-unavailable.sym-lg {
        height: 56px;
    }

    .sym-btn-unavailable:hover, .sym-btn-unavailable:active {
        background-color: #ddd;
        color: white;
    }

.sym-btn-new {
    z-index: 9999;
    border: none;
    height: 50px;
    width: 50px;
    background-image: url('../images/rounded-plus.png');
    background-position: center;
    background-size: 100% 100%;
    background-color: transparent;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.slideUp {
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;*/
}

    .slideUp.ng-enter,
    .slideUp.ng-leave {
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
    }

    .slideUp.ng-enter {
        opacity: 0;
        cursor: wait;
        /*left: 100%;*/
    }

    .slideUp.ng-enter-active {
        opacity: 1;
        /*left: 0;*/
    }

    .slideUp.ng-leave {
        opacity: 1;
        /*left: 0;*/
    }

    .slideUp.ng-leave-active {
        opacity: 0;
        cursor: wait;
        /*left: -100%;*/
    }
