<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/sym/content/images/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/sym/content/images/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/sym/content/images/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/sym/content/images/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/sym/content/images/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/sym/content/images/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/sym/content/images/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/sym/content/images/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/sym/content/images/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/sym/content/images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/sym/content/images/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/sym/content/images/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/sym/content/images/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="SYM" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/sym/content/images/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/sym/content/images/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/sym/content/images/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/sym/content/images/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/sym/content/images/favicon/mstile-310x310.png" />
    <meta name="theme-color" content="#337ab7">

    <title>SYM - Schedule Your Meeting</title>
    <!-- Bootstrap core CSS -->
    <link href="/sym/content/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/sym/content/css/sym.pesquisa-agendamento.css" rel="stylesheet" />
    <link href="/sym/content/css/sym.resultado-pesquisa-agendamento.css" rel="stylesheet" />
    <link href="/sym/content/css/sym.agendamento-inclusao.css" rel="stylesheet" />

</head>
<body ng-app="sym.agendamento">
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="\sym\app\views\index.html">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </div>
            <div class="navbar-header pull-right">
                <a class="navbar-brand sym-bsi-brand" href="http:\\www.bsitecnologia.com.br">
                </a>
            </div>
        </div>
    </nav>
    <route-loading-indicator></route-loading-indicator> 
    <div ng-view class="slideUp">
    </div>

    <footer class="footer">
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/sym/scripts/angular.min.js"></script>
    <script src="/sym/scripts/angular-route.min.js"></script>
    <script src="/sym/scripts/angular-animate.min.js"></script>
    <script src="/sym/scripts/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <!--    CUSTOM SCRIPTS      -->
    <script src="/sym/app/controllers/sym.agendamento.js"></script>
    <script src="/sym/app/controllers/sym.agendamento.pesquisa-filtros.js"></script>
    <script src="/sym/app/controllers/sym.agendamento.pesquisa-resultado.js"></script>
    <script src="/sym/app/controllers/sym.agendamento.erro-ajax.js"></script>
    <script src="/sym/app/controllers/sym.login.js"></script>

    <script src="/sym/app/controllers/sym.agendamento.detalhe.js"></script>
    <script src="/sym/app/controllers/sym.agendamento.inclusao.js"></script>
</body>
</html>
