<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img class="img-responsive bem-vindo-xs bem-vindo-sm bem-vindo-md bem-vindo-lg" src="../../content/images/bem-vindo-logo.png" />
        </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-default" style="max-width: 800px; margin-left: auto; margin-right: auto">
        <div class="panel-body sym-panel-basic">
            <div class="row" ng-controller="sym.pesquisa-agendamento.contador-pessoas">
                <div class="col-xs-12">
                    <span class="sym-input-label">Pessoas</span>
                    <span class="glyphicon glyphicon-minus-sign sym-glyphicon-button" ng-click="diminuir()"></span>
                    <span class="sym-contador-pessoas">{{contador}}</span>
                    <span class="glyphicon glyphicon-plus-sign sym-glyphicon-button" ng-click="aumentar()"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span class="sym-input-label">Quando?</span>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="input-group">
                        <input type="radio" name="rdbQuando">
                        <span>Hoje</span>
                    </div>
                    <div class="input-group">
                        <input type="radio" name="rdbQuando">
                        <span>Essa Semana</span>
                    </div>
                    <div class="input-group">
                        <input type="radio" name="rdbQuando">
                        <span>Esse Mês</span>
                    </div>
                </div>
            </div>
            <div class="row" ng-controller="sym.pesquisa-agendamento.lista-local">
                <div class="col-xs-12">
                    <span class="sym-input-label">Onde?</span>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="input-group" ng-repeat="un in lista">
                        <input type="radio" name="rdbLocal" value="{{un.id}}">
                        <span>{{un.local}}</span>
                    </div>
                    <span ng-if="lista.length == 0">
                        Nenhum Local encontrado
                    </span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            Procure a sua sala de reunião ideal através do número de pessoas e local
        </div>
        <div class="panel-body sym-panel-footer" ng-controller="sym.pesquisa-agendamento.filtrar-salas">
            <a class="sym-botao-pesquisar" href="#pesquisa/6/semana/consolacao" ng-click="filtrar()">
                PROCURAR SALAS
            </a>
        </div>
    </div>
</div>
