<div class="modal-header sym-modal-header">
    <h3 class="modal-title sym-modal-title">Agendamento</h3>
</div>
<div class="modal-body">
    <div>
        <span class="glyphicon glyphicon-home sym-glyphicon-padrao"></span>
        <span class="sym-input-label">Sala {{item.nomeSala}}, {{item.quantidadeLugares}} lugares</span>
    </div>
    <div>
        <span class="glyphicon glyphicon-map-marker sym-glyphicon-padrao"></span>
        <span class="sym-input-label">{{item.nomeUnidade}}</span>
    </div>
    <div>
        <span class="glyphicon glyphicon-calendar sym-glyphicon-padrao"></span>
        <span class="sym-input-label">{{item.agendamento.horarioInicial | date: "EEE, dd 'de' MMM 'de' yyyy"}}</span>
    </div>
    <div>
        <span class="glyphicon glyphicon-time sym-glyphicon-padrao"></span>
        <span style=" border-bottom: 2px solid gray; padding-left: 2px">
            {{item.agendamento.horarioInicial | date:'HH:mm'}}
        </span>
        <span class="sym-input-label" style="padding-left: 20px; padding-right: 20px">até</span>
        <span style=" border-bottom: 2px solid gray; padding-left: 2px">
            {{item.agendamento.horarioFinal | date:'HH:mm'}}
        </span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Voltar</button>
</div>