<div class="modal-header">
    <h3 class="modal-title">I'm a modal (Detalhe)!</h3>
</div>
<div class="modal-body">
    <ul>
        <li>
           codigoSala: {{item.codigoSala}} 
        </li>
        <li>
            codigoUnidade: {{item.codigoUnidade}}
        </li>
        <li>
            horarioInicio: {{item.horarioInicio}}
        </li>
        <li>
            nomeSala: {{item.nomeSala}}
        </li>
        <li>
            nomeUnidade: {{item.nomeUnidade}}
        </li>
        <li>
            quantidadeLugares: {{item.quantidadeLugares}}
        </li>
        <li>
            quantidadeMinutos: {{item.quantidadeMinutos}}
        </li>
    </ul>
    Selected: <b>{{ selected.item }}</b>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>