<div class="modal-header sym-modal-header">
    <h3 class="modal-title sym-modal-title"><input type="text" placeholder="Titulo do agendamento" value="{{descricao}}" class="sym-input-title"/> </h3>
</div>
<div class="modal-body">
    <div>
        <span class="glyphicon glyphicon-home sym-glyphicon-padrao"></span>
        <span class="sym-input-label" > Sala {{sala}}, {{lugares}} Lugares</span>
        <span class="{{ClasseInicio}}"></span>
    </div>
    <div>
        <span class="glyphicon glyphicon-map-marker sym-glyphicon-padrao"></span>
        <span class="sym-input-label">{{unidade}}</span>
        <span class="{{ClasseInicio}}"></span>
    </div>
    <div>
        <span class="glyphicon glyphicon-calendar sym-glyphicon-padrao"></span>
        <span class="sym-input-label">{{horario | date:'EEEE'}}, {{horario | date:'dd/MM/yyyy'}}</span>
        <span class="{{ClasseInicio}}"></span>
    </div>
    <div>
        <span class="glyphicon glyphicon-time sym-glyphicon-padrao"> </span>
        <select ng-change="AlterarDataInicio()" ng-model="HorarioIni.HoraSelecionada.Hora">
            <option ng-repeat="Horas in HorarioIni.HoraInicio" value="{{Horas.Hora | date:'HH:MM'}}">{{Horas.Hora | date:'HH:MM'}}</option>
        </select>
        <span class="{{ClasseInicio}}"></span>
        <span class="sym-input-label"> Até </span>
        <select ng-change="AlterarDataFim()" ng-model="HorarioFim.HoraSelecionada.Hora">
            <option ng-repeat="Horas in HorarioFim.HoraFinal" value="{{Horas.Hora}}">{{Horas.Hora}}</option>
        </select>
        <span class="{{ClasseFim}}"></span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>