<div class="modal-header sym-modal-header">
    <h3 class="modal-title sym-modal-title"><span class="glyphicon glyphicon-remove" ng-click="ok()"></span> </h3>
</div>
<div class="modal-body">
    <div>
        <span class="glyphicon glyphicon-home sym-glyphicon-padrao"></span>
        <span class="sym-input-label">Sala {{item.nomeSala}}, {{item.quantidadeLugares}} lugares</span>
    </div>
    <div>
        <span class="glyphicon glyphicon-map-marker sym-glyphicon-padrao"></span>
        <span class="sym-input-label">{{item.nomeUnidade}}</span>
    </div>
    <div>
        <span class="glyphicon glyphicon-calendar sym-glyphicon-padrao"></span>
        <span class="sym-input-label">{{item.agendamento.horarioInicial | date:'EEEE'}}, {{item.agendamento.horarioInicial | date:'dd/MM/yyyy'}}</span>
    </div>
    <div>
        <span class="glyphicon glyphicon-time sym-glyphicon-padrao"> </span>
        <select>
            <option disabled="disabled" selected="selected">{{item.agendamento.horarioInicial | date:'HH:mm'}}</option>
        </select>
        
        <span class="sym-input-label"> Até </span>

        <select>
            <option disabled="disabled" selected="selected">{{item.agendamento.horarioFinal | date:'HH:mm'}}</option>
        </select>
        
    </div>
    
</div>
