
<div class="container" ng-controller="sym.agendamento.pesquisa-filtros">

    <h2 style="max-width: 800px; margin-left: auto; margin-right: auto; color: #293bac">
        Olá, João da Silva
    </h2>
    <p style="max-width: 800px; margin-left: auto; margin-right: auto;">Configure a sua pesquisa...</p>

    <div class="panel panel-default" style="max-width: 800px; margin-left: auto; margin-right: auto">
        <div class="panel-body sym-panel-basic">
            <div class="row">
                <div class="col-xs-12">
                    <span class="sym-input-label">Pessoas</span>
                    <span class="glyphicon glyphicon-minus-sign sym-glyphicon-button" ng-click="diminuir()"></span>
                    <span class="sym-contador-pessoas">{{contador}}</span>
                    <span class="glyphicon glyphicon-plus-sign sym-glyphicon-button" ng-click="aumentar()"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span class="sym-input-label">Quando?</span>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="input-group">
                        <input type="radio" id="rdbQuando1" name="rdbQuando" ng-model="quando" value="1">
                        <label for="rdbQuando1" class="sym-label-for">Hoje</label>
                    </div>
                    <div class="input-group">
                        <input type="radio" id="rdbQuando2" name="rdbQuando" ng-model="quando" value="2">
                        <label for="rdbQuando2" class="sym-label-for">Essa Semana</label>
                    </div>
                    <div class="input-group">
                        <input type="radio" id="rdbQuando3" name="rdbQuando" ng-model="quando" value="3">
                        <label for="rdbQuando3" class="sym-label-for">Esse Mês</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span class="sym-input-label">Onde?</span>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="input-group" ng-repeat="un in lista">
                        <input type="radio" id="{{un.CodigoUnidade}}" name="rdbOnde" ng-model="$parent.uni" ng-value="un.CodigoUnidade">
                        <label for="{{un.CodigoUnidade}}" class="sym-label-for">{{un.NomeUnidade}}</label>
                    </div>
                    <span ng-if="lista.length == 0">
                        Nenhum Local encontrado
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span class="sym-input-label">Precisa ter projetor ou TV?</span>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="input-group">
                        <input type="radio" id="rdbProjetorNao" name="rdbProjetor" ng-model="possuiProjetor" value="">
                        <label for="rdbProjetorNao" class="sym-label-for">Não</label>
                    </div>
                    <div class="input-group">
                        <input type="radio" id="rdbProjetorSim" name="rdbProjetor" ng-model="possuiProjetor" value="1">
                        <label for="rdbProjetorSim" class="sym-label-for">Sim</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body sym-panel-footer">
            <a class="sym-botao-pesquisar" ng-href="#pesquisa/{{contador}}/{{quando}}/{{uni}}/{{possuiProjetor}}/{{randomNumber}}">
                PROCURAR SALAS
            </a>
        </div>
    </div>
</div>
