<!DOCTYPE html>
<html lang="en" ng-app="sym.pesquisa-agendamento">
<head>
    <title>Schedule your Meeting</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Bootstrap core CSS -->
    <link href="../../content/css/bootstrap.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../../content/css/sym.pesquisa-agendamento.css" rel="stylesheet" />

</head>
<body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive bem-vindo-xs bem-vindo-sm bem-vindo-md bem-vindo-lg" src="../../content/images/bem-vindo-logo.png" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default" style="max-width: 800px; margin-left: auto; margin-right: auto">
            <div class="panel-body sym-panel-basic">
                <div class="row" ng-controller="sym.pesquisa-agendamento.contador-pessoas">
                    <div class="col-xs-12">
                        <span class="sym-input-label">Pessoas</span>
                        <span class="glyphicon glyphicon-minus-sign sym-glyphicon-button" ng-click="diminuir()"></span>
                        <span class="sym-contador-pessoas">{{contador}}</span>
                        <span class="glyphicon glyphicon-plus-sign sym-glyphicon-button" ng-click="aumentar()"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span class="sym-input-label">Quando?</span>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <div class="input-group">
                            <input type="radio" name="rdbQuando">
                            <span>Hoje</span>
                        </div>
                        <div class="input-group">
                            <input type="radio" name="rdbQuando">
                            <span>Essa Semana</span>
                        </div>
                        <div class="input-group">
                            <input type="radio" name="rdbQuando">
                            <span>Esse Mês</span>
                        </div>
                    </div>
                </div>
                <div class="row" ng-controller="sym.pesquisa-agendamento.lista-local">
                    <div class="col-xs-12">
                        <span class="sym-input-label">Onde?</span>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <div class="input-group" ng-repeat="un in lista">
                            <input type="radio" name="rdbLocal" value="{{un.id}}"> 
                            <span>{{un.local}}</span>
                        </div>
                        <span ng-if="lista.length == 0">
                            Nenhum Local encontrado
                        </span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                Procure a sua sala de reunião ideal através do número de pessoas e local
            </div>
            <div class="panel-body sym-panel-footer" ng-controller="sym.pesquisa-agendamento.filtrar-salas">
                <button class="sym-botao-pesquisar" href="#pesquisa/6/semana/consolacao" ng-click="filtrar()" >
                    PROCURAR SALAS
                </button>
            </div>
        </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../scripts/angular.js"></script>
    <script src="../../scripts/angular-animate.js"></script>
    <script src="../../scripts/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="../controllers/sym.pesquisa-agendamento.js"></script>

</body>
</html>
